html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    position: relative;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    position: fixed;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}
#nav_bar{
    float: right;
    top: 0;
    right: 0;
    height: 30px;
}
#nav_bar li{
    display: inline;
    padding: 8px;
    
}
a{
    text-decoration: none;
    color: inherit;
}
#img_grid{
    padding: -5px -5px;
    position: relative;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}
#grid_img{
    position: relative;
    display: inline;
}
#nav_bar #sign_in{
    background:#4285f4;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}
.body-content{
    
    margin-top: 89px;
    margin: 0 auto;
    /* padding-bottom: 50px; */
    min-width: 1139px;
    text-align: center;
}
.google-logo{
    text-align: center;
    /* margin: 0 auto; */
    padding-top: 25px;
    padding-bottom: 20px;
    display: block;
    clear: both;
}
.search-bar{
    width: 584px;
    line-height: 52px;
    align-self: center;
    display:inline-block;
    text-align: center;
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid whitesmoke;
}
#mic_mic{
    cursor: pointer;
    float: right;
    padding-top: 16px;
    padding-right: 15px;
    vertical-align: middle;
}
/* .search-bar #mic_section{
    
    cursor: pointer;
    
    border: none;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
    position: absolute;
} */

#srch{
    width: 520px;
    padding-left: 50px;
    line-height: 52px;
    /* padding: 20px 10px; */
    border-radius: 30px;
    box-shadow: none;
    border: 0px solid whitesmoke;
    
}
.search-bar #srch{
    padding: 0 8px;
    vertical-align: middle;
    font-size: 16px;
}
.button-section{
    text-align: center;
    padding-top: 50px;
    /* margin-bottom: 300px; */
    padding: 10px;
    display: block;
}
#feeling_lucky{
    vertical-align: middle;
    /* padding: 2px 6px; */
    font-size: 14px; 
    cursor: pointer;
}
#google_search{
    vertical-align: middle;
    /* padding: 2px 6px; */
    font-size: 14px; 
    cursor: pointer;
}
#footer_section{
    position: fixed;
    margin-bottom: 0px;
    
    width: 100%;
    bottom: 0px;
    background: #f2f2f2
}
.location {
    background: #f2f2f2;
    float: left;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: block;
    width: 100%;
    /* padding: -10px; */
    bottom: 0px;
}
#location_right li{
    font-style: inherit;
    display: inline-block;
    padding: 2px;
    bottom: 0px;
}
.ad-abt{
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: inline-block;
    padding: 2px;
    width: 100%;
    clear: both;
    margin-bottom: 0;
    bottom: 0px;
}

.footer-left{
    background: #f2f2f2;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    float: left;
    padding-left: 30px;
}
.footer-right{
    background: #f2f2f2;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-right: 40px;
}
.footer-left .footer-right a{
    font-weight: 100;
    color: lightslategray;
}
#footid a{
    padding: 8px;
}
#footid a:hover{
    text-decoration: underline;
}
#location_right a:hover{
    text-decoration: underline;
}
li.gmail a:hover{
    text-decoration: underline;
}
li.image a:hover{
    text-decoration: underline;
}
#sign_in{
    color: #fff
}
#sign_in:hover{
    box-shadow: 1px 1px 5px #999;
}
div.search-bar:hover{
    box-shadow: 1px 1px 5px #999;
}
p.offerlang a:hover{
    text-decoration: underline;
}